.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name8 {
    display: none;
  }
  .navigation-links-root-class-name10 {
    display: none;
  }
  .navigation-links-root-class-name12 {
    display: none;
  }
  .navigation-links-root-class-name13 {
    display: none;
  }
  .navigation-links-root-class-name16 {
    display: none;
  }
  .navigation-links-root-class-name18 {
    display: none;
  }
  .navigation-links-root-class-name20 {
    display: none;
  }
  .navigation-links-root-class-name22 {
    display: none;
  }
  .navigation-links-root-class-name24 {
    display: none;
  }
}

.c-s50p-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 475px;
  max-height: 300px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.c-s50p-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.c-s50p-image {
  width: 64px;
  height: 62px;
  object-fit: cover;
}
.c-s50p-text {
  width: 387px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.c-s50p-text1 {
  width: auto;
}
.c-s50p-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 217, 217) 0.00%,rgb(217, 217, 217) 78.00%,rgb(113, 147, 28) 100.00%);
}





@media(max-width: 767px) {
  .c-s50p-feature-card {
    flex-direction: row;
  }
  .c-s50p-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .c-s50p-container {
    flex-direction: column;
  }
  .c-s50p-root-class-name {
    width: 100%;
    max-width: 100%;
  }
}

.ce-v-algo-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 475px;
  max-height: 300px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.ce-v-algo-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.ce-v-algo-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 62px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ce-v-algo-image {
  width: 63px;
  height: 63px;
  object-fit: cover;
}
.ce-v-algo-text {
  width: 387px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.ce-v-algo-text1 {
  width: auto;
}
.ce-v-algo-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 217, 217) 0.00%,rgb(217, 217, 217) 78.00%,rgb(234, 220, 67) 100.00%);
}





@media(max-width: 767px) {
  .ce-v-algo-feature-card {
    flex-direction: row;
  }
  .ce-v-algo-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .ce-v-algo-container {
    flex-direction: column;
  }
}

.ce-v-git-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 475px;
  max-height: 300px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.ce-v-git-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.ce-v-git-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 62px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ce-v-git-image {
  width: 68px;
  height: 68px;
  object-fit: cover;
}
.ce-v-git-text {
  width: 363px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.ce-v-git-text1 {
  width: auto;
}
.ce-v-git-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 217, 217) 0.00%,rgb(217, 217, 217) 78.00%,rgb(234, 220, 67) 100.00%);
}





@media(max-width: 767px) {
  .ce-v-git-feature-card {
    flex-direction: row;
  }
  .ce-v-git-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .ce-v-git-container {
    flex-direction: column;
  }
}

.ce-v-h-t-m-l-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 475px;
  max-height: 300px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.ce-v-h-t-m-l-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.ce-v-h-t-m-l-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 62px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ce-v-h-t-m-l-image {
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.ce-v-h-t-m-l-text {
  width: 387px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.ce-v-h-t-m-l-text1 {
  width: auto;
}
.ce-v-h-t-m-l-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 217, 217) 0.00%,rgb(217, 217, 217) 78.00%,rgb(234, 220, 67) 100.00%);
}





@media(max-width: 767px) {
  .ce-v-h-t-m-l-feature-card {
    flex-direction: row;
  }
  .ce-v-h-t-m-l-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .ce-v-h-t-m-l-container {
    flex-direction: column;
  }
}

.c-s50g-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 475px;
  max-height: 300px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.c-s50g-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.c-s50g-image {
  width: 64px;
  height: 62px;
  object-fit: cover;
}
.c-s50g-text {
  width: 387px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.c-s50g-text1 {
  width: auto;
}
.c-s50g-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 217, 217) 0.00%,rgb(217, 217, 217) 78.00%,rgb(217, 161, 96) 100.00%);
}





@media(max-width: 767px) {
  .c-s50g-feature-card {
    flex-direction: row;
  }
  .c-s50g-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .c-s50g-container {
    flex-direction: column;
  }
}

.futuros-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 475px;
  max-height: 300px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.futuros-container {
  width: 294px;
  height: 106px;
  display: flex;
  align-items: flex-start;
  padding-top: 35px;
  flex-direction: column;
}
.futuros-image {
  width: 34px;
  height: 32px;
  object-fit: cover;
}
.futuros-image1 {
  width: 32px;
  height: 32px;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}
.futuros-image2 {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.futuros-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.futuros-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 106px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.futuros-text1 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.futuros-text2 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.futuros-text3 {
  margin-top: var(--dl-space-space-halfunit);
}
.futuros-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 217, 217) 0.00%,rgb(217, 217, 217) 78.00%,rgb(217, 161, 96) 100.00%);
}





@media(max-width: 767px) {
  .futuros-feature-card {
    flex-direction: row;
  }
}

.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.index-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-image: linear-gradient(315deg, rgb(241, 242, 181) 2.00%,rgb(22, 130, 60) 56.00%,rgb(22, 130, 60) 100.00%);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.index-container1 {
  flex: 0 0 auto;
  width: 808px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-container2 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.index-image {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-burger-menu {
  display: none;
}
.index-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.index-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.index-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.index-image1 {
  height: 2rem;
}
.index-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.index-text {
  width: 458px;
  font-size: 3rem;
  align-self: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.index-text03 {
  font-size: 0.5rem;
}
.index-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.index-component2 {
  text-decoration: none;
}
.index-stats {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
}
.index-stat {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 200px;
  align-items: center;
  flex-direction: column;
}
.index-container5 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.index-image2 {
  width: 42px;
  height: 52px;
  object-fit: cover;
}
.index-text06 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.index-text07 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-text08 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-stat1 {
  display: flex;
  max-width: 200px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.index-container6 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.index-image3 {
  width: 54px;
  height: 59px;
  object-fit: cover;
}
.index-text11 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.index-text12 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-text13 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-stat2 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 200px;
  align-items: center;
  flex-direction: column;
}
.index-container7 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.index-image4 {
  width: 75px;
  height: 58px;
  object-fit: cover;
}
.index-text17 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.index-text18 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-text19 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-stat3 {
  display: flex;
  max-width: 200px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.index-container8 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.index-image5 {
  width: 55px;
  height: 72px;
  object-fit: cover;
}
.index-text20 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.index-text21 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-text22 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.index-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.index-text23 {
  align-self: center;
}
.index-text24 {
  max-width: 100%;
  align-self: center;
}
.index-text27 {
  align-self: center;
}
@media(max-width: 991px) {
  .index-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .index-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-btn-group {
    display: none;
  }
  .index-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-container4 {
    grid-template-columns: 1fr;
  }
  .index-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-stat {
    padding: var(--dl-space-space-unit);
  }
  .index-text07 {
    text-align: center;
  }
  .index-stat1 {
    padding: var(--dl-space-space-unit);
  }
  .index-text12 {
    text-align: center;
  }
  .index-stat2 {
    padding: var(--dl-space-space-unit);
  }
  .index-text18 {
    text-align: center;
  }
  .index-stat3 {
    padding: var(--dl-space-space-unit);
  }
  .index-text21 {
    text-align: center;
  }
  .index-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .index-container {
    background-color: #D9D9D9;
  }
  .index-header {
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius2);
    justify-content: space-between;
    background-image: linear-gradient(315deg, rgb(241, 242, 181) 2.00%,rgb(22, 130, 60) 56.00%,rgb(22, 130, 60) 100.00%);
    border-top-left-radius: var(--dl-radius-radius-radius2);
    border-top-right-radius: var(--dl-radius-radius-radius2);
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .index-container1 {
    width: auto;
  }
  .index-image {
    width: 142px;
    height: 115px;
  }
  .index-icon {
    width: 56px;
    height: 56px;
  }
  .index-mobile-menu {
    padding: 16px;
  }
  .index-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-text {
    font-size: 3rem;
  }
  .index-text01 {
    font-size: 3rem;
  }
  .index-stats {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-stat {
    max-width: 200px;
  }
  .index-image2 {
    width: 42px;
    height: 52px;
  }
  .index-text06 {
    font-size: 3rem;
  }
  .index-text07 {
    font-size: 1.15rem;
  }
  .index-text08 {
    color: var(--dl-color-gray-700);
  }
  .index-stat1 {
    max-width: 200px;
  }
  .index-image3 {
    width: 54px;
    height: 59px;
    max-width: 54px;
    max-height: 59px;
  }
  .index-text11 {
    font-size: 3rem;
    font-weight: 300;
  }
  .index-text12 {
    font-size: 1.15rem;
  }
  .index-text13 {
    color: var(--dl-color-gray-700);
    font-size: 0.75rem;
  }
  .index-stat2 {
    max-width: 200px;
  }
  .index-image4 {
    width: 75px;
    height: 58px;
  }
  .index-text17 {
    font-size: 3rem;
  }
  .index-text18 {
    font-size: 1.15rem;
  }
  .index-text19 {
    color: var(--dl-color-gray-700);
  }
  .index-stat3 {
    max-width: 200px;
  }
  .index-image5 {
    width: 55px;
    height: 72px;
  }
  .index-text20 {
    font-size: 3rem;
    font-weight: 300;
  }
  .index-text21 {
    font-size: 1.15rem;
  }
  .index-text22 {
    color: var(--dl-color-gray-700);
    font-size: 0.75rem;
  }
  .index-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .index-text24 {
    text-align: center;
  }
}
