.c-s50p-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 475px;
  max-height: 300px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.c-s50p-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.c-s50p-image {
  width: 64px;
  height: 62px;
  object-fit: cover;
}
.c-s50p-text {
  width: 387px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.c-s50p-text1 {
  width: auto;
}
.c-s50p-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 217, 217) 0.00%,rgb(217, 217, 217) 78.00%,rgb(113, 147, 28) 100.00%);
}





@media(max-width: 767px) {
  .c-s50p-feature-card {
    flex-direction: row;
  }
  .c-s50p-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .c-s50p-container {
    flex-direction: column;
  }
  .c-s50p-root-class-name {
    width: 100%;
    max-width: 100%;
  }
}
