<div>
  <link href="./c-s50p.css" rel="stylesheet" />
  <div class="c-s50p-feature-card">
    <div class="c-s50p-container">
      <img
        alt="image"
        src="public/playground_assets/cs50_172x168_tiny-200h.png"
        class="c-s50p-image"
      />
      <h2 class="c-s50p-text">
        <span>CS50P - Harvard's Introduction to Programming with Python</span>
      </h2>
      <span class="c-s50p-text1">
        <span>
          Curso nível introdutório de Python, abordando o básico da linguagem,
          assim como Orientação a Objetos, manipulação de arquivos, unity tests,
          etc. (clique para ver o certificado)
        </span>
      </span>
    </div>
  </div>
</div>
