<div>
  <link href="./ce-v-algo.css" rel="stylesheet" />
  <div class="ce-v-algo-feature-card">
    <div class="ce-v-algo-container">
      <div class="ce-v-algo-container1">
        <img
          alt="image"
          src="public/playground_assets/cev_algor_132x132_tiny-200h.png"
          class="ce-v-algo-image"
        />
      </div>
      <h2 class="ce-v-algo-text">
        <span>Curso em Video - Algorítimos [40 Horas]</span>
      </h2>
      <span class="ce-v-algo-text1">
        <span>
          Curso básico de algoritimos e lógica de programação, aplicado em
          Portugol. (Certificado ainda não emitido)
        </span>
      </span>
    </div>
  </div>
</div>
