.ce-v-h-t-m-l-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 475px;
  max-height: 300px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.ce-v-h-t-m-l-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.ce-v-h-t-m-l-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 62px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ce-v-h-t-m-l-image {
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.ce-v-h-t-m-l-text {
  width: 387px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.ce-v-h-t-m-l-text1 {
  width: auto;
}
.ce-v-h-t-m-l-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 217, 217) 0.00%,rgb(217, 217, 217) 78.00%,rgb(234, 220, 67) 100.00%);
}





@media(max-width: 767px) {
  .ce-v-h-t-m-l-feature-card {
    flex-direction: row;
  }
  .ce-v-h-t-m-l-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .ce-v-h-t-m-l-container {
    flex-direction: column;
  }
}
