<div>
  <link href="./ce-v-h-t-m-l.css" rel="stylesheet" />
  <div class="ce-v-h-t-m-l-feature-card">
    <div class="ce-v-h-t-m-l-container">
      <div class="ce-v-h-t-m-l-container1">
        <img
          alt="image"
          src="public/playground_assets/cev_html_261x261_tiny-200h.png"
          class="ce-v-h-t-m-l-image"
        />
      </div>
      <h2 class="ce-v-h-t-m-l-text">
        <span>Curso em Video - HTML5/CSS3 [40 Horas]</span>
      </h2>
      <span class="ce-v-h-t-m-l-text1">
        <span>
          Aulas práticas de html e web design. (Certificado ainda não emitido)
        </span>
      </span>
    </div>
  </div>
</div>
