<div>
  <link href="./ce-v-git.css" rel="stylesheet" />
  <div class="ce-v-git-feature-card">
    <div class="ce-v-git-container">
      <div class="ce-v-git-container1">
        <img
          alt="image"
          src="public/playground_assets/cev_git_181x181_tiny-200h.png"
          class="ce-v-git-image"
        />
      </div>
      <h2 class="ce-v-git-text">
        <span>Curso em Video - Git/GitHub [20 Horas]</span>
      </h2>
      <span class="ce-v-git-text1">
        <span>
          Curso básico em plataformas de versionamento de software. (Certificado
          ainda não emitido)
        </span>
      </span>
    </div>
  </div>
</div>
