.enabout2-container {
  width: 80%;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.enabout2-text {
  width: 100%;
  max-width: auto;
  min-width: auto;
  align-self: flex-start;
  text-align: justify;
}
.enabout2-link {
  text-decoration: underline;
}
.enabout2-link1 {
  text-decoration: underline;
}
.enabout2-text13 {
  text-decoration: underline;
}
.enabout2-root-class-name {
  width: auto;
}
