<div>
  <link href="./enabout.css" rel="stylesheet" />
  <div class="enabout-container">
    <span class="enabout-text">
      <span>
        I am currently a student of the IT course at FAETERJ Paracambi, RJ -
        Brazil.
      </span>
      <br class="enabout-text02" />
      <br />
      <span>
        And since the first semester I was amazed with Python – more precisely
        with the simplicity of the language, I had no idea how programming
        worked, but it was possible to code – I find myself amazed to this day.
      </span>
      <br class="enabout-text05" />
      <br />
      <span>
        I&apos;m curious, I like to acquire new and useful knowledge, but it
        reaches the level of a compulsion when it&apos;s “useless” knowledge,
        when a random question or idea suddenly pops into my head, something
        starts hammering until I find an answer for what emerged.
      </span>
      <br class="enabout-text08" />
      <br />
      <span>
        For context, an example: While I was watching a video about a
        mathematical problem from the beginning of the 20th century, that says
        something like: &apos;On a street – where there are houses only on one
        side and their numbers, starting from one, are incremental – there is a
        special house in which the numbers of the houses that come before, added
        together, equal the sum of the house’s numbers that are after it.
        Assuming no less than 50 and no more than 500 for the number of houses:
        How many houses are on the street and what is the number of this special
        house?&apos; The hammering in this case was: How many special houses are
        possible up to 50? Or 1000? A billion?!
      </span>
      <br class="enabout-text11" />
      <br />
      <span>
        In short, I tried to create a script to solve this, did I finish it?
        -Not yet, but it was for a good cause, I realized I needed more
        knowledge. And today, even without starting to write, I already see the
        code working.
      </span>
      <br class="enabout-text14" />
      <br />
      <span>
        About why I primarily focused on Python so far: I haven&apos;t paid
        attention to other “faster” or “with more functionality” languages
        because for me it doesn&apos;t make sense to know a little about each
        thing, I want to acquire as much knowledge as possible on the subject,
        get a certificate, so that I can move on to the next one.
      </span>
      <br class="enabout-text17" />
      <br />
      <span>
        Now that I&apos;ve finished my first Python course (which is fully
        documented in the link below), I&apos;m going to return to a project I
        created to exercise my knowledge of the language (also below). After
        completing it, I hope to have the resources to try and certify myself at
        the Python Institute and put more effort into Java or C.
      </span>
      <br class="enabout-text20" />
      <br />
    </span>
  </div>
</div>
