<div>
  <link href="./enabout2.css" rel="stylesheet" />
  <div class="enabout2-container">
    <span class="enabout2-text">
      <span>This is the `</span>
      <a
        href="https://github.com/TDPessoa/cs50p/blob/main/README.md"
        target="_blank"
        rel="noreferrer noopener"
        class="enabout2-link"
      >
        README.md
      </a>
      <span>` for the files I </span>
      <span>wrote during CS50p.</span>
      <br />
      <br />
      <span>This is the `</span>
      <a
        href="https://github.com/TDPessoa/my_python_challenge_2022/blob/main/README.md"
        target="_blank"
        rel="noreferrer noopener"
        class="enabout2-link1"
      >
        README.md
      </a>
      <span>` for the files that I&apos;ll re-write</span>
      <span>.</span>
      <br />
      <span>(Text in portuguese)</span>
      <br />
      <br />
      <span class="enabout2-text13">My curriculum vitae.</span>
      <span>(Also in portuguese)</span>
      <br />
    </span>
  </div>
</div>
