<div>
  <link href="./futuros.css" rel="stylesheet" />
  <div class="futuros-feature-card">
    <div class="futuros-container">
      <img
        alt="image"
        src="public/playground_assets/cs50_172x168_tiny-200h.png"
        class="futuros-image"
      />
      <img
        alt="image"
        src="public/playground_assets/java-circle-200h.png"
        class="futuros-image1"
      />
      <img
        alt="image"
        src="public/playground_assets/php-circle-200h.png"
        class="futuros-image2"
      />
    </div>
    <div class="futuros-container1">
      <h1><span>Próximos</span></h1>
      <div class="futuros-container2">
        <span class="futuros-text1">
          <span>CS50X - Harvard's Introduction to Computer Science</span>
        </span>
        <span class="futuros-text2">
          <span>Curso em Vídeo - Java [40 Horas]</span>
        </span>
        <span class="futuros-text3">
          <span>Curso em Vídeo - PHP [ 40 Horas]</span>
        </span>
      </div>
    </div>
  </div>
</div>
