<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="ptsobre.html" class="navigation-links-navlink1">
      <span>About me</span>
    </a>
    <a
      href="https://github.com/TDPessoa"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>GitHub</span>
    </a>
    <a
      href="https://www.linkedin.com/in/thiago-pessoa-190043128/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1"
    >
      <span>Linkedin</span>
    </a>
  </nav>
</div>
