<div>
  <link href="./ptabout.css" rel="stylesheet" />
  <div class="ptabout-container">
    <span class="ptabout-text">
      <span>
        No momento sou discente do curso de Tecnologia em Sistemas de Informação
        da FAETERJ Paracambi.
      </span>
      <br class="ptabout-text02" />
      <br />
      <span>
        E desde o primeiro semestre me encantei com Python – mais precisamente
        com a simplicidade da linguagem, eu não tinha nenhuma ideia de como
        funcionava a programação – e sou encantado até hoje.
      </span>
      <br class="ptabout-text05" />
      <br />
      <span>
        Eu sou curioso, gosto de adquirir conhecimentos novos e úteis, mas chega
        a se igualar a uma compulsão quando são conhecimentos “inúteis”, quando
        uma questão ou ideia aleatória surge de repente na minha cabeça, algo
        começa a martelar até que eu sacie o que surgiu. Para contextualizar, um
        exemplo: Enquanto eu estava assistindo um vídeo sobre um problema
        matemático do início do séc. XX que diz algo como: ‘Em uma rua – onde só
        há casas de um dos lados e seus números, começando do um, são
        incrementais – existe uma casa especial em que os números das casas que
        vêm antes, somados, se igualam à soma dos números das casas que estão
        depois dela. Considerando não menos que 50 e não mais que 500 para a
        quantidade de casas: Quantas casas têm na rua e qual é o número dessa
        casa especial?’ O martelar nesse caso foi: Quantas casas especiais são
        possíveis até 50? Ou 1000? Um bilhão?!
      </span>
      <br class="ptabout-text08" />
      <br />
      <span>
        Resumindo, tentei criar um script para resolver isso. Concluí? -Ainda
        não, mas foi por uma boa causa, percebi que eu precisava de mais
        conhecimento. E hoje, mesmo sem começar a escrever, já vejo o código
        funcionando.
      </span>
      <br class="ptabout-text11" />
      <br />
      <span>
        Sobre eu só ter me focado em Python até o momento: Eu não me atentei
        ainda a outras linguagens “mais rápidas” ou “com mais funcionalidades”
        porque para mim não faz sentido saber um pouco de cada coisa, quero
        adquirir o máximo de conhecimento sobre o assunto, me certificar, para
        assim, ir para o próximo.
      </span>
      <br class="ptabout-text14" />
      <br />
      <span>
        Agora que finalizei meu primeiro curso de Python (o qual está
        documentado por completo no link abaixo
      </span>
      <span>
        ), vou retornar a um projeto que elaborei para exercitar meu
        conhecimento na linguagem. Após concluí-lo espero que tenha recursos
        para tentar me certificar no Python Institut e me empenhar mais em Java
        ou C.
      </span>
      <br class="ptabout-text18" />
      <br />
    </span>
  </div>
</div>
