.ptabout2-container {
  display: flex;
  position: relative;
}
.ptabout2-text {
  width: 80%;
  max-width: auto;
  min-width: auto;
  align-self: flex-start;
  text-align: justify;
}
.ptabout2-link {
  text-decoration: underline;
}
.ptabout2-text03 {
  text-decoration: underline;
}
.ptabout2-link2 {
  text-decoration: underline;
}
.ptabout2-link3 {
  text-decoration: underline;
}
.ptabout2-root-class-name {
  width: var(--dl-size-size-xxlarge);
  height: 100%;
  max-width: var(--dl-size-size-xxlarge);
}
