<div>
  <link href="./ptabout2.css" rel="stylesheet" />
  <div class="ptabout2-container">
    <span class="ptabout2-text">
      <span>Este é o `</span>
      <a
        href="https://github.com/TDPessoa/cs50p/blob/main/README.md"
        target="_blank"
        rel="noreferrer noopener"
        class="ptabout2-link"
      >
        README.md
      </a>
      <span>
        ` do diretório em que estão os códigos que escrevi durante o CS50p.
      </span>
      <a
        href="https://github.com/TDPessoa/my_python_challenge_2022"
        target="_blank"
        rel="noreferrer noopener"
      >
        <br class="ptabout2-text03" />
      </a>
      <span>(Texto em inglês)</span>
      <br />
      <br />
      <span>Este é o `</span>
      <a
        href="https://github.com/TDPessoa/my_python_challenge_2022/blob/main/README.md"
        target="_blank"
        rel="noreferrer noopener"
        class="ptabout2-link2"
      >
        README.md
      </a>
      <span>` do diretório em que</span>
      <span>estão os códigos que irei re-escrever.</span>
      <br />
      <br />
      <a
        href="https://docs.google.com/document/d/e/2PACX-1vSJUHpeA8brE8a--iq0673C5YqHyeXb4G1ZkFgoT_1zprD59vnzORNYawlfPPcbIg/pub"
        target="_blank"
        rel="noreferrer noopener"
        class="ptabout2-link3"
      >
        Meu curriculum.
      </a>
      <br />
    </span>
  </div>
</div>
